{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BaronPay</title>
    <link href="{% static 'kiosk/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'kiosk/baronpay.css' %}" rel="stylesheet">
    <script src="{% static 'kiosk/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'kiosk/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'kiosk/baronpay.js' %}"></script>
</head>
<body>
    <!-- Hidden text input -->
    <input type="text" id="hidden-input" class="hidden-input" autocomplete="off">

    <!-- Hidden admin settings button -->
    <button id="hidden-admin-button" style="position: fixed; bottom: 10px; left: 10px; width: 50px; height: 50px; opacity: 0; border: none; background: none;"></button>
    <form id="admin-login-form" action="/admin/login/" method="POST" style="display: none;">
        <input type="hidden" name="csrfmiddlewaretoken" id="csrf-token">
        <input type="hidden" name="username" id="admin-username">
        <input type="hidden" name="password" id="admin-password">
        <input type="hidden" name="next" value="/admin">
    </form>

    <!-- Products -->
    <div class="container py-4 main-content ">
        <div class="row product-list" id="product-list">
            {% for product in product_list %}
            <div class="col-md-4 mb-3">
                <div class="card product-card p-2" data-product-id="{{ product.id }}">
                    {% if product.discount_text != "" %}
                    <div class="discount-sticker">{{ product.discount_text }}</div>
                    {% endif %}
                    {% with 'kiosk/'|add:product.thumbnail_file as product_thumbnail_path %}
                    <img src="{% static product_thumbnail_path %}">
                    {% endwith %}
                    <h5>{{ product.name }}</h5>
                    <p><span class="money-color{% if product.discount_text != "" %} money-color-sale{% endif %}">${{ product.price }}</span></p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Cart -->
    <div class="cart-container">
        <ul class="list-group mb-3" id="cart-list">
            <!-- Cart items will appear here -->
        </ul>
        <br>
        <h5>Total: $<span id="total-price">0.00</span></h5>
        <div class="checkout-container">
            <button class="btn finish-button scan-button w-100 pulse" id="finish-btn">Scan Card</button>
        </div>
        <div class="cart-buttons">
            <button class="btn btn-danger w-100" id="cancel-btn">Cancel</button>
        </div>
    </div>

    <!-- Resuable notification popup -->
    <div id="checkout-notification" class="notification"></div>
{% csrf_token %}
</body>
</html>
